header.header 
    .header__wrapper
        //- div.header__column 에서 div 생략 가능
        .header__column
            a(href=routes.home)
                i.fab.fa-youtube
        .header__column
            form(action=routes.search, method="get")
                input(type="text", placeholder="Search by term...", name="term")
        .header__column
            ul
                //- 로그인 후 화면을 위해 user.isAuthenticated 변수를 middlewares.js 에 추가
                if !user.isAuthenticated
                    li
                        a(href=routes.join) Join 
                    li
                        a(href=routes.login) Log In
                else 
                    li
                        a(href=`/videos${routes.upload}`) Upload
                    li 
                        a(href=routes.userDetail(user.id)) Profile
                    li 
                        a(href=routes.logout) Log Out